@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

h1 {
  padding: 3rem 0 2rem;
}

#container-description {
  width: 60%;
  margin: 3rem auto 0 auto;
  border-radius: 3px;
}

#container-card {
  width: 80%;
  padding: 3rem 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  padding: 1rem;
  margin: 2.5rem;
  border: 1px solid #959398;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.focus {
  background: #fee14065;
  border: 1px solid transparent;
}

#loadingNew {
  width: 100%;
  height: 50px;
}

#footer {
  width: 100vw;
  height: 12vh;
  overflow: hidden;
}

#footer #wave {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#4facfe), color-stop(33%, #00f2fe), color-stop(90%, #fee140));
  background-image: linear-gradient(to top right, #4facfe 0%, #00f2fe 33%, #fee140 90%);
  animation: wave 7s alternate-reverse infinite;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
